{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}

    <div class="container h-100">
        <div class="row">
            <div class="col">
                <h2 class="margin-bottom margin-top">Your bag </h2>

            </div>
        </div>

        <div class="row d-lg-none d-flex">
            <div class="col">
                {% if bag_items %}
                    <div class="row">
                        <div class="col justify-content-center">
                            <div class="header-name row">Header </div>
                            <div class="row image-price-subtotal">
                                <div class="image col-6">IMAGE</div>
                                <div class="other info col-6">                           
                                    <div class="row">/per unit</div>
                                    <div class="row">Quantity increase/decrease</div>
                                    <div class="row">Remove btn</div>
                                    <div class="row">Subtotal:</div>
                     
                                </div>
                         </div>

                        </div>

                    </div>
                {% else %}
                    <p>Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn continue-btn">Continue shopping</a>
                {% endif %}
            </div>

            <div class="col-sm-12 col-md-12 col-lg-3 mb-3 ps-5">
                <div class="checkout-summary-box">
                    <h5><strong>Summary</strong></h5>
                    <hr>
                    <div>
                        <span class="float-start w-50"><small>Bag Total:</small></span> <span class="float-end w-50 text-end"><small>£{{ total|floatformat:2 }}</small></span>
                        <span class="float-start w-50"><small>Delivery:</small></span> <span class="float-end  w-50 text-end"><small>£{{ delivery|floatformat:2}}</small></span>
                        <span class="float-start w-50 red-text"><strong><small>Grand Total:</small></strong></span> <span class="float-end  w-50 text-end red-text" ><strong><small>£{{ grand_total|floatformat:2 }}</small></strong></span>
                        {% if free_delivery_delta > 0%}
                            <p class="smaller-text">Spend £{{ free_delivery_delta }} more for free delivery</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="float-end me-2 mb-3 back-to-top mt-5">
        <a class="btn-top">
            <i class="btn-top-icon fa-solid fa-circle-up"></i>
        </a>
    </div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    $('.btn-top').click(function(e) {
        window.scrollTo(0,0);
    });
</script>

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {

        //var form = $(this).('.update-form').find('.qty_input')[0];
        var form = $(this).closest('.update-form')
        form.submit();
    });
    
    // Remove item and reload on click
    $('.remove-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
        console.log(itemId)
        // console.log(urlMM)

    });
</script>

{% endblock %}