{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}

    <div class="container h-100">
        <div class="row">
            <div class="col">
                <h2 class="margin-bottom margin-top">Your bag </h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {% if bag_items %}
                    <div>
                        <table class="table text-center">
                            <thead>
                              <tr>              
                                <th scope="col">Product Information</th>
                                <th scope="col"></th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in bag_items %}
                                <tr>
                                    <td class="w-25">
                                    <img class="image-fluid w-100 bag-image" src="/media/{{ item.product.image }}">
                                    </div>
                                    </td>
                                    <td>{{ item.product.friendly_name }} {{ item.product.size }} <br> <span> {{item.product.sku |upper}}</span></td>
                                    <td>{{ item.product.price }}</td>
                                    <td>
                                      <div>
                                        <form class="form update-form quantity-form-margin" action="{% url 'edit_bag' item.item_id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row ms-1 mb-3 bag-input-group-container">
                                                <div class="input-group bag-input-group-wrapper w-100 mb-3 justify-content-center align-items-center bag-quantity-input">
                                                    <div class="input-group-prepend">
                                                        <button class="btn decrement-qty decrement{{ item.item_id }}" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <i class="fa-solid fa-minus"></i>
                                                        </button>
                                                    </div>
                                        
                                                    <input type="number" class="form-control text-center quantity-input qty_input" name="quantity"  value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" aria-describedby="emailHelp">
                                               
                                                    <class="input-group-append">
                                                        <button  class="btn increment-qty increment-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </button>
                                                    </button>
                                                </div>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                          </form>
                                        
                                            <a class="update-link btn"><small>Update</small></a>
                                            <a class="remove-link btn" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                        
                                      </div>
                                    </td>
                                    <td>£{{item.product.price | calc_subtotal:item.quantity }}</td>
                                </tr>
                                {% endfor %}

                                <tr>
                                    <td colspan="5" class="text-end">
                                        <h6>Bag Total: £{{ total|floatformat:2 }}</h6>
                                        <h6>Delivery: £{{ delivery|floatformat:2}}</h6>
                                        <h4>Grand Total: £{{ grand_total|floatformat:2 }}</h4>
                                        {% if free_delivery_delta > 0%}
                                            <P>Spend £{{ free_delivery_delta }} more for free delivery</P>
                                        {% endif %}

                                        <a href="{% url 'products' %}" class="btn continue-btn w-25 col-sm-6"><strong>Continue Shopping</strong></a>
                                        <a href="{% url 'checkout' %}" class="btn main-btn w-25 "><strong>Secure Checkout</strong></a>

                                    </td>
                                </tr>

                            </tbody>
                          </table>
                    </div>
                {% else %}
                    <p>Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn continue-btn">Continue shopping</a>
                {% endif %}
            </div>

            <div class="col-md-4 mb-3 ps-5">
                <h5>Summary</h5>
                <div>
                    <span class="float-start">Bag Total:</span> <span class="float-end">£{{ total|floatformat:2 }}</span>
                    <span class="float-start">Delivery:</span> <span class="float-end">£{{ delivery|floatformat:2}}</span>
                    <span class="float-start">Grand Total:</span><span class="float-end" >£{{ grand_total|floatformat:2 }}</span>
                    {% if free_delivery_delta > 0%}
                        <P>Spend £{{ free_delivery_delta }} more for free delivery</P>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="float-end me-2 mb-3 back-to-top">
        <a class="btn-top">
            <i class="btn-top-icon fa-solid fa-circle-up"></i>
        </a>
    </div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    $('.btn-top').click(function(e) {
        window.scrollTo(0,0);
    });
</script>

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-link').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    });
</script>

{% endblock %}