<form class="form" action="{% url 'edit_bag' item.product.id %}" method="POST">
    {% csrf_token %}
    <div class="row ms-1 mb-3 bag-input-group-container">
        <div class="input-group bag-input-group-wrapper w-50 mb-3 justify-content-center align-items-center">
            <div class="input-group-prepend">
                <div class="btn decrement-qty" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    <i class="fa-solid fa-minus"></i>
                </div>
            </div>

            <input type="number" class="form-control text-center quantity-input qty_input" id="quantity" name="quantity"  value="1" min="1" max="99 " data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" aria-describedby="emailHelp">
       
            <div class="input-group-append">
                <div  class="btn increment-qty" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
  </form>


