{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid h-100 margin-bottom">
        <div class="row banner margin-bottom">
            <div class="col-12 hero-image d-felx">
                <div class="text-center text-box">
                    <h1 class="text-center">Surrender to <br><small>the healing power of </small><br> Nature </h1>
                    <div class="btn btn-primary">Shop now</div>
                </div>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col text-center margin-bottom ">
                <h2>Popular products</h2>
                <div class="btn btn-primary">shop now</div>
            </div>
        </div>


        <div class="row margin-bottom">
            <div class="col text-center margin-bottom ">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>


        <div class="row">
            <div class="col text-center">
                <h2> Help with a variety of health issues </h2>
                <div></div>
                <div class="btn btn-primary">Shop now</div>
            </div>
        </div>

    </div>

{% endblock %}
