{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid h-100">
        <div class="row banner">
            <div class="col-12 hero-image d-felx">
                <div class="text-center text-box">
                    <h1 class="text-center">Surrender to <br><small>the healing power of </small><br> Nature </h1>
                    <a href="{% url 'products' %}" class="btn main-btn">Shop now</a>
                </div>
            </div>
        </div>

        <div class="row margin-bottom popular-products-box">
            <div class="col text-center margin-bottom">
                <h2 class="margin-bottom margin-top-20px ">Popular products</h2>
                <div>
                    <div class=" row d-flex">
                        <div class="col d-flex">
                         
                                {% for product in popular_products %}
                                
                                    <div class="col-sm-3 col-md-2 margin-bottom product-container d-flex">
                                        <div class="all-products-card card card-outline h-100 justify-content-center">
                                            {% if product.image %}
                                            <div class="image-div">
                                                     <img src="/media/{{product.image}}" class="card-img-top" alt="{{product.friendly_name}}">  
                                            </div>  
                                            {% else %}
                                            <div class="image-div">
                                          
                                                <img src="/media/noimage.JPG" class="card-img-top" alt="{{product.friendly_name}}">
                                            </div>
                                            {% endif %}
                       
                                            <div class="card-body text-center">
                                                <h5 class="card-title">{{product.friendly_name|title}}</h5>
                                                <p class="card-text">Star rating placeholder</p>
                        
                                            </div>                      
                                        </div>   
                                        
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col">
                            <a href="{% url 'products' %}" class="btn main-btn">View ALL Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row margin-bottom">
            <div class="col text-center margin-bottom ">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>


        <div class="row">
            <div class="col text-center">
                <h2> Help with a variety of health issues </h2>
                <div></div>
                <a class="btn main-btn">Shop now</a>
            </div>
        </div>

    </div>

    <div class="float-end me-2 mb-3 back-to-top">
        <a class="btn-top">
            <i class="btn-top-icon fa-solid fa-circle-up"></i>
        </a>
    </div>

{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.btn-top').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
{% endblock %}