{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid h-100 position-adjust">
        <div class="row">
            <div class="col">
                <div class="row banner">
                    <div class="col-12 hero-image">
                        <div class="text-center text-box">
                            <h1 class="text-center">Surrender to <br><small>the healing power of </small><br> Nature </h1>
                            <a href="{% url 'products' %}" class="btn main-btn">Shop now</a>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom popular-products-box">
                    <div class="col-12 text-center margin-bottom">
                        <div calss="row">
                            <div class="col text-center">
                                <h2 class="margin-bottom margin-top-20px">Popular products</h2>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row margin-bottom o">
                    <div class="col text-center margin-bottom ">
                        <h2 class="margin-bottom margin-top-20px">Our promise</h2>
                        <div class="d-flex justify-content-center">
                            <div class="px-0">
                                <i class="fa-solid fa-leaf promise-icon"></i>
                                <br>
                                <p>100% natural ingredients</p>
                            </div>
                            <div class="ps-0">
                                <i class="fa-solid fa-paw promise-icon"></i>
                                <br>
                                <p>Cruelty free</p>
                            </div>
                            <div class="ps-3">
                                <i class="fa-solid fa-mountain-sun promise-icon"></i>
                                <br>
                                <p>Eco Friendly</p>
                            </div>
                        </div>
                    </div>
                </div>


                        
                <div class="row margin-bottom">
                    <div class="col text-center margin-bottom pt-5 quote">
                        <div class="d-flex justify-content-center white large">
                            "I firmly believe that nature brings solace in all troubles." <br> Anne Frank  
                        </div> 
                    </div>
                </div>


                
        <div class="row">
            <h2 class="text-center mb-5"> Help with a variety of health issues </h2>
            <div class="col text-center d-flex justify-content-center">
                
                <div class="row mb-3">
                    <div class="mb-3">
                        <div class="all-products-card h-100 justify-content-center"> 
                            <img src="/media/flu.jpg" class="card-img-top" alt="Cold and Flu">
    
                            <div class="card-footer text-center">
                                <a href="{% url 'products' %}?subcategory=imunity_boosters">Cold and Flu</a>
                            </div>
                        </div>  
                    </div>

                    <div class="mb-3">
                        <div class="all-products-card h-100 justify-content-center"> 
                            <img src="pain-relief.jpg" class="card-img-top" alt="Pain relief">
    
                            <div class="card-footer text-center">
                                <a href="{% url 'products' %}?subcategory=anti-inflammatory">Pain relief</a>
                            </div>
                        </div>  
                        
                    </div>

                    <div >
                        <div class="all-products-card h-100 justify-content-center"> 
                                <img src="stress-relief.jpg" class="card-img-top" alt="Stress relief">
        
                                <div class="card-footer text-center">
                                    <a href="{% url 'products' %}?subcategory=inner_comfort_enhancers">Stress relief</a>
                                </div>
        
                        </div>  

                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <div class="all-products-card h-100 justify-content-center"> 
                            <img src="breathing.jpg" class="card-img-top" alt="Breathing">
    
                            <div class="card-footer text-center">
                                <a href="{% url 'products' %}?subcategory=essential_oils">Breathing</a>
                            </div>
                        </div>  
                        
                    </div>

                    <div class="mb-3">
                        <div class="all-products-card h-100 justify-content-center"> 
                                <img src="oily-skin.jpg" class="card-img-top" alt="Oily skin">
        
                                <div class="card-footer text-center">
                                    <a class="dropdown-item" href="{% url 'products' %}?subcategory=oily_skin">Oily Skin</a>
                                </div>
        
                        </div>  

                    </div>

                    <div class="mb-3">
                        <div class="all-products-card h-100 justify-content-center"> 
                            <img src="dry-skin.jpg" class="card-img-top" alt="Dry skin">
    
                            <div class="card-footer text-center">
                                <a class="dropdown-item" href="{% url 'products' %}?subcategory=dry_skin">Dry Skin</a>
                            </div>
                        </div>  
                    </div>
                </div>



            </div>
        </div>
    </div> <!--container fluid end-->

    <div class="float-end me-2 mb-3 back-to-top mt-5">
        <a class="btn-top float-end"">
            <i class="btn-top-icon fa-solid fa-circle-up"></i>
        </a>
    </div>

{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.btn-top').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
{% endblock %}