{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

    <div class="container h-100 pink-300">
        <div class="row">
            <div class="col">
                <h1>Checkout </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 order-lg-last">
                <p> Order Summary ({{ product_count }})</p>
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-2 mb-1">
                        <a href="{% url 'product_details' item.product.id %}">
                            {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.friendly_name }}">
                            {% else %}
                            <img src="/media/noimage.JPG" class="card-img-top" alt="{{ item.product.friendly_name}}">">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-7">
                        <p class="my-0"><strong>{{ item.product.friendly_name }}</strong></p>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="my-0 small text-muted">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="col-md-10">
                    <p>Please fill out the form below to complete your order</p>
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label small ">Details</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                        </fieldset>

                        <fieldset class="rounded px-3 mb-5">
                            <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                            {{ order_form.phone_number | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            {{ order_form.town_or_city | as_crispy_field }}
                            {{ order_form.street_address1 | as_crispy_field }}
                            {{ order_form.street_address2 | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            <div class="form-check form-check-inline">
                                {% if user.is_authenticated %}
                                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                {% else %}
                                    <label class="form-check-label" for="id-save-info">
                                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                    </label>
                                {% endif %}
                            </div>
                        </fieldset>

                        <fieldset class="px-3">
                            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                            <!-- A Stripe card element -->
                            <div class="mb-3" id="card-element"></div>
        
                            <!-- Display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>

                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>

                        
                    <div class="submit-button text-right mt-5 mb-2">                    
                        <a href="{% url 'bag' %}" class="btn continue-btn">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Return to Bag</span>
						</a>
						<button id="submit-button" class="btn add2bag-btn ">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>

						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
						</p>
					</div>
        
            </div>


        </div>
    </div>

    <div class="float-end me-2 mb-3 back-to-top">
        <a class="btn-top">
            <i class="btn-top-icon fa-solid fa-circle-up"></i>
        </a>
    </div>

    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fa-solid fa-sun fa-bounce"></i>
            </span>
        </h1>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script>
        $('.btn-top').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
    
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}