{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}



{% block content %}

    <div class="container h-100 pink-300">
        <div class="row">
            <div class="col">
                <h1>Your bag </h1>
                <div>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
             
                    <div>

                    </div>
  
            </div>

        </div>
    </div>

{% endblock %}

