/*General site styling*/p
body{
  padding-top: 92px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h2,h3{
  font-family: 'Handlee', cursive;
}

.small-text{
  font-size: 14px;
  font-weight: 700;
}

.smaller-text{
  font-size: 10px;
  
}

.red-text{
  color:red;
}

.white{
  color:white;
}

.large{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Handlee', cursive;
}

.btn:disabled{
  border-color: white!important;
}
  


/*Navbar styling*/
.navbar-background{
  background-color: #0B6532;
}

.navbar{
  background-color: #0B6532!important;
}


.navbar{
  --bs-navbar-padding-y: 0;

}

.nav-link{
  color: white;
  font-weight:600;
  letter-spacing: 1px;
}

.nav-link:hover{
  background-color: #C8DDD2;

}

.nav-link:focus{
  background-color:  #C8DDD2;
}


.navbar-toggler{
  border:none;
}

.dropdown-background{
  background-color: white;
  color:#093d05;
}

.dropdown-menu{
  --bs-dropdown-spacer: 0;
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-border-color: none;
  --bs-dropdown-border-radius: 0;
  background-color:  #C8DDD2;
}

.dropdown-item{
  color:#021d08;

}

.hamburger-icon i{
    font-size: 2rem;
    color: white;
}


.navbar-toggler {
  color: white;
  border:none;
}


.navbar-toggler:focus {
  border:none;
}

.navbar{
  --bs-navbar-toggler-focus-width: 0;
}

.back-to-top{
  height: 50px;
  text-decoration: none;
  position:fixed;
  bottom:0;
  right:10px;
}

.btn-top-icon{
  font-size: 35px;
  color: #0B6532;
}

.logo-image{
  height: 100px;
  margin-left: -45px;
}

.logo-image-small{
  height: 50px;
  margin-right: -60px;
}



/*Mobile Navbar*/
.mobile-navbar{
  margin-bottom: -5px;
}

.no-border-radius{
  border-radius: 0;
}

/*Text styling*/
.white-text{
  color: white;
}



/*Search bar styling*/
.search-input{
  border: 1px solid white;
  margin-right:0!important;
  color: #0B6532;
} 
.search-button{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid white;
  color: #0B6532;
  font-weight: bolder;
  background-color: white;
}

.search-btn-mobile{
  background-color: #0B6532;
  color: white;
}


/* Account dropdown styling*/
.account-menu{
  --bs-dropdown-spacer: -20px;
}

/*Login, Register, Logout styling*/
.allauth-form-inner-content{
  margin-top: 120px;
  margin-bottom: 60px;
  padding: 2rem;
  box-shadow: 0 0 2px 2px #C8DDD2 inset;
  border: #C8DDD2;
}

.textinput{
  margin-bottom: 20px;
}

/*Home page styling*/
.banner{
  height:60vh;
}

.text-box h1{
  font-weight: 700;
}

.hero-image{
  background:  url("/media/hero_image3.jpg") no-repeat center center;
  height: 60vh;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  top: -25px;
}

.text-box{
  position: absolute;
  bottom: 3rem;
  background-color: rgba(6, 101, 27, 0.4);
  padding: 1rem;
}

.text-box .btn{
  background-color:#0B6532;
  color: white;
  border:none;

}

.announcement-banner{
  height: 2rem;
  background-color: #093d05;
  color:#ffff;

}

.popular-products-box{
  background-color: #e6efe8;
  padding-top: 20px;
}

.quote{
  height: 200px;
  background:  url("/media/quote-background.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.promise-icon{
  color:#0B6532;
  font-size: 30px;
}

.remedy-link a{
  text-decoration: none;
  color: #0B6532;
  font-weight: 600;
  font-size: 1.5rem;
}

/*Product cards styling*/
.card-outline{
  box-shadow: 0 0 2px 2px #C8DDD2;
  border: none;
  margin: 0 2rem;
}

.card-outline:hover{
  box-shadow: 0 0 2px 2px #0B6532;
}

.all-products-card{
  margin: 0 10px;
}

.all-products-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-div{
  position: relative;
}

.card-text{
  font-weight:800;
}

.card-footer{
  background-color: white!important;
  border: none!important;
}

/*Wishlist styling*/
.wishlist-toggle{
  position: absolute;
  right: 8px;
  top:5px;
}

.wishlist-toggle i{
  font-size:25px;
  color: white;
}


/*Product details page styling*/
.product-details-img img{
  width: 100%;
  max-height: 25rem;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  float: left;
  margin-top: 90px;
}


.quantity-container{
  background-color: #C8DDD2;
  border-radius: 10px;

}

.quantity-input{
  border: none;
  padding: 0!important;
  width: max-content;
}

.accordion-button{
  background-color: #C8DDD2;
  color: #021d08;
}

.accordion-button:not(.collapsed) {
  background-color: #C8DDD2;
  color: #021d08;
}

.price{
  font-size: 25px;
  font-weight: bold;
}

/*Button styling*/

.add2bag-btn{
  border-radius: 25px;
  height: 50px;
  border: #0B6532;
  background-color: #0B6532;
}

.add2bag-btn:hover{
  border: 1px solid #0B6532;
  background-color: white;
  color: #0B6532;
}

.continue-btn{
  box-shadow: 0px 0px 2px 2px #508a7b;
  color: #0B6532;
 } 

.continue-btn:hover{
  background-color: #0B6532;
  box-shadow: 0px 0px 2px 2px #0B6532;
  color: white;

 } 

.btn{
  font-weight: bolder;
}

.main-btn{
  background-color: #0B6532;
  color:white;
}

.main-btn:hover{
  border: 1px solid #0B6532;
  background-color: white;
  color: #0B6532;
}

.btn-danger:hover{
  background-color: white;
  color: red;
}

.edit-icon{
  color: #0B6532!important;
}

.delete-icon{
  color: red;
  margin-left: -15px;
}

.edit-delete-review{
  margin-top: -15px;
  margin-left: -10px;
}

.remove-link{
  margin-top: -40px;
  /*margin-left: -25%;*/
}


/*Form styling*/
.input-group-wrapper{
  background-color: #ffff;
  border-radius: 25px;
  
}

.bag-input-group-wrapper{
  background-color: #ffff;
  border-radius: 25px;
  border: 2px solid #093d05;
}

.input-group-container{
  padding: 40px 0 40px 1px;
  line-height: 50px;
}

.highlighted-text{
  font-size: x-large;
  font-weight: bold;
}

.message-container{
  position: fixed;
  top: 80px;
  right: 5px;
  z-index: 999999;
  font-weight: bolder;
  min-width: 250px;
}


/*Messages styling*/
.toast{
  max-width: 250px;
  background-color: white;
  border-radius: 0;
  position: absolute;
}

.toast-capper {
  height: 6px;
  
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */

.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 20px;
}

.arrow-green {
  border-bottom-color: #198754 !important;
  --bs-bg-opacity: 0.5
}

.arrow-red {
  border-bottom-color: #990b16 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-muted-green {
  border-bottom-color: #508a7b !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}



/* Checkout and bag image styling*/
.checkout-page-padding{
  padding-left: 20px;
  padding-right: 20px;
}

.checkout-image-container{
  min-width: 80px;
  margin-right: 20px;
}


.checkout-image{
  height: 80px;
  object-fit: cover;
  min-width: 80px;
}

.bag-image{
  height: 150px;
  object-fit: cover;

}


.checkout-form .form-group{
  margin-bottom: -10px;
}

#div_id_country{
  margin-bottom: 10px;
}

#div_id_category, #div_id_subcategory, #div_id_description, #div_id_price, #div_id_image_url, #div_id_featured {
  margin-bottom: 20px;
}

.checkout-summary-box{
  min-height: 200px;
  min-width: 225px;
  box-shadow: 0 0 4px 4px #C8DDD2 inset;
  border-radius: 25px;
  padding: 2rem;

}

.checkout-bottom-margin, .profile-margin{
  margin-bottom: 50px;
}





/* Margins and padding*/
.margin-bottom{
  margin-bottom: 30px;
}

.margin-bottom-20px{
  margin-bottom: 20px;
}

.margin-top{
  margin-top: 30px;
}

.margin-top-20px{
  margin-top: 20px;
}

.no-margin-right{
  margin-right: 0;
}

.margin-right{
  margin-right: 20px;
}

.margin-right-30px{
  margin-right: 30px;
}

.negative-margin-top{
  margin-top: -25px;
}

.position-center{
  justify-content: center!important;
}

.extra-padding{
  padding-top: 30px;
}

.padding-right-20px{
  padding-right: 20px;
}

.main-nav-left-margin{
  margin-left: 15px;
}

.header-margins{
  margin-top: 120px;
  margin-bottom: 50px;
}

.contact-form-margin{
  margin-top: 15px;
}

.margin-top-mobile{
  margin-top: 80px;
}

/*Review section styling*/

.date{
  font-size: 12px;
  margin-bottom: 10px;
}

.review-area{
  background-color:#C8DDD2;
  margin-bottom: 20px;
  
}

.reviewer-name{
  line-height: 0;
}

/*Footer styling*/

.footer{
  background-color: #0B6532;
  color:white;
}

.footer-product-links {
    list-style: none;
    margin-left: -10px;
}

.footer-product-links a{
  color: white;
}

.footer-logo{
  height: 50px;
  margin-top: 20px;
}

.footer-smaller-text{
  letter-spacing: 1px;
  font-size: 12px;
}

.footer-small-text{
  letter-spacing: 1px;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 700;
}


.footer-smaller-text-links{
  letter-spacing: 1px;
  font-size: 10px;
}


.no-margin-small-print{
  margin-bottom: 0;
}

.adjusted-padding{
  padding-left: 20%;
}

.social-links:hover{
  transform: scale(1.5);
}


@media (min-width: 360px) {
  .quantity-input-width{
    min-width: 50px;
    margin-left: 5px;
  }
  .input-group-display{
    display: inline;
    max-width: 20%!important;
  }
}

@media (min-width: 768px) {
  .products-view{
    margin: 0 3rem;
  }
  .product-container{
    padding: 0 15px 50px 15px;
    margin-bottom: 0;
  }

  .product-details-img img{
    max-height: 40rem;
    margin-top: unset;
  }

  .margin-top-100{
    margin-top: 120px;
  }


  .card-outline {
    margin: initial;
  }

  .hero-image{
    justify-content: start;
  }
  
  .checkout-bottom-margin{
    margin-bottom: 0;
  }

  .quantity-input-width{
    min-width: unset;
    margin-left: unset;
  }
  .input-group-display{
    display: unset;
  }


}

@media (min-width: 992px) {
  body{
    padding-top: 182px;
  }

  .main-navigation{
    justify-content: center;
  }

  .align-navbar{
    margin-left: -50px;
  }

  .main-nav-left-margin{
    margin-left: unset;
  }

  .allauth-form-inner-content{
    margin-top: 60px;
  }

  .margin-top-mobile{
    margin-top: unset;
  }

  .margin-top-100{
    margin-top: unset;
  }

  .message-container{
    top: 100px;
    right: 30px;

  }
  
  .products-view{
    margin: 0 5rem;
  }
  
  .bag-quantity-input{
    padding: 0 30px;  
  }

  .message-container{
    top: 125px;
    right: 45px;
  }

  .profile-margin{
    margin-bottom: 0;
  }

  .center-content-lg{
    justify-content: center!important;
  }

  .bag-input-group-container{
    padding-left: 20%;
  
  }

  .product-details-img img{
    margin-top: unset;
  }

  
  .remove-link{
    margin-top: -50px;
    margin-left: 10%;
  }

  .header-margins{
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .bag-quantity-input{
    padding: initial;  
  }

  .quantity-form-margin{
    margin-right: 20px;
  }
}

@media (min-width: 1300px) {
    .container-max-width {
      max-width: 80%;
    }
  }

@media (max-width: 332px) {


  .input-group-amount{
    width: 100%!important;
  }

  .add-product-button{
    width: 100%!important;
    padding: 0;
  }

  .small-device-margin{
    margin-right: 0.25rem!important;
  }
  }

  @media (max-width: 339px) {
    .logo-image-small{
      height: 30px;
    }
  }

  @media (max-width: 496px) {
    .logo-image-small{
      height: 30px;
    }

    body{
      width: fit-content;
    }
  }

  @media (max-width: 767px) {
    .checkout-price-small{
      float: left;
      margin-bottom: 20px!important;
    }
  }

@media (min-height: 800px) {
  .set-min-height{
    min-height: 60vh;
  }

}

  
