.announcement-banner{
  height: 2rem;
  background-color: #093d05;
  color:#ffff;

}

.navbar{
  --bs-navbar-padding-y: 0;
}

.card-outline{
  box-shadow: 0 0 8px 8px lightgray;
  border: none;
}

.product-details-img img{
  width: 100%;
  max-height: 25rem;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}


.quantity-container{
  background-color: #C8DDD2;
  border-radius: 10px;

}

.quantity-input{
  border: none;
  width: max-content;
}

.add2bag-btn{
  border-radius: 25px;
  height: 50px;
  border: #06651b;
  background-color: #06651b;
}

.input-group-wrapper{
  background-color: #ffff;
  border-radius: 25px;
  
}

.bag-input-group-wrapper{
  background-color: #ffff;
  border-radius: 25px;
  border: 2px solid #093d05;
}

.input-group-container{
  padding: 40px 0 40px 1px;
  line-height: 50px;
}

.bag-input-group-container{
  padding-left: 20%;

}

.continue-btn{
  box-shadow: 0px 0px 2px 2px #508a7b;
  color: #106c09;
} 

.btn{
  font-weight: bolder;
}

.highlighted-text{
  font-size: x-large;
  font-weight: bold;
}

@media (min-width: 768px) {
  .product-details-img img{
    max-height: 40rem;
  }

}


@media (min-width: 1300px) {
    .container-max-width {
      max-width: 80%;
    }
  }
  