/*Body styling*/
h2{
  margin-bottom: 50px;
  margin-top: 20px;
}


/*Navbar styling*/
.navbar-background{
  background-color: #06651b;
}

.navbar{
  background-color: #06651b!important;
}


.navbar{
  --bs-navbar-padding-y: 0;

}

.nav-link{
  color: white;
  font-weight:600;
  letter-spacing: 1px;
}

.nav-link:hover{
  background-color: #C8DDD2;

}

.nav-link:focus{
  background-color:  #C8DDD2;
}


.navbar-toggler{
  border:none;
}

.dropdown-background{
  background-color: white;
  color:#093d05;
}

.dropdown-menu{
  --bs-dropdown-spacer: 0;
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-border-color: none;
  --bs-dropdown-border-radius: 0;
  background-color:  #C8DDD2;
}

.dropdown-item{
  color:#021d08;

}

.hamburger-icon i{
    font-size: 2rem;
    color: white;
}


.navbar-toggler {
  color: white;
  border:none;
}


.navbar-toggler:focus {
  border:none;
}

.back-to-top{
  height: 50px;
  text-decoration: none;
}

.btn-top-icon{
  font-size: 35px;
  color: #06651b;
}


/*Text styling*/
.white-text{
  color: white;
}



/*Search bar styling*/
.search-input{
  border: 1px solid white;
  margin-right:0!important;
  color: #06651b;
} 
.search-button{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid white;
  color: #06651b;
  font-weight: bolder;
  background-color:white;
}

.search-btn-mobile{
  background-color: #06651b;
  color: white;
}


/* Account dropdown styling*/
.account-menu{
  --bs-dropdown-spacer: -20px;
}

/*Login, Register, Logout styling*/
.allauth-form-inner-content{
  margin-top: 60px;
  padding: 2rem;
  box-shadow: 0 0 20px 15px #C8DDD2;
  border: #C8DDD2;
}

.textinput{
  margin-bottom: 20px;
}

/*Home page styling*/
.banner{
  height:60vh;
}

.text-box h1{
  font-weight: 700;
}

.hero-image{
  background:  url("/media/hero_image3.jpeg") no-repeat center center;
  height: 60vh;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.text-box{
  position: absolute;
  bottom: 3rem;
  background-color: rgba(6, 101, 27, 0.4);
  padding: 1rem;
}

.text-box .btn{
  background-color:#06651b;
  color: white;
  border:none;

}

.announcement-banner{
  height: 2rem;
  background-color: #093d05;
  color:#ffff;

}

.popular-products-box{
  background-color: #e6efe8;
  padding-top: 20px;
}

/*Product cards styling*/
.card-outline{
  box-shadow: 0 0 8px 8px #C8DDD2;
  border: none;
  margin: 0 2rem;
}

.card-outline:hover{
  box-shadow: 0 0 8px 8px #06651b;
}

.all-products-card{
  margin: 0 10px;
}

.all-products-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-div{
  position: relative;
}

.wishlist-toggle{
  position: absolute;
  right: 8px;
  top:5px;
}

.wishlist-toggle i{
  font-size:25px;
  color: #508a7b;
}

.product-details-img img{
  width: 100%;
  max-height: 25rem;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
  float: left;
}


.quantity-container{
  background-color: #C8DDD2;
  border-radius: 10px;

}

.quantity-input{
  border: none;
  width: max-content;
}

/*Button styling*/

.add2bag-btn{
  border-radius: 25px;
  height: 50px;
  border: #06651b;
  background-color: #06651b;
}

.add2bag-btn:hover{
  border: 1px solid #06651b;
  background-color: white;
  color: #06651b;
}

.continue-btn{
  box-shadow: 0px 0px 2px 2px #508a7b;
  color: #106c09;
 } 

.continue-btn:hover{
  background-color: #06651b;
  box-shadow: 0px 0px 2px 2px #06651b;
  color: white;

 } 

.btn{
  font-weight: bolder;
}

.main-btn{
  background-color: #508a7b;
  color:white;
}

.main-btn:hover{
  border: 1px solid #06651b;
  background-color: white;
  color: #06651b;
}

.btn-danger:hover{
  background-color: white;
  color: red;
}

/*Form styling*/
.input-group-wrapper{
  background-color: #ffff;
  border-radius: 25px;
  
}

.bag-input-group-wrapper{
  background-color: #ffff;
  border-radius: 25px;
  border: 2px solid #093d05;
}

.input-group-container{
  padding: 40px 0 40px 1px;
  line-height: 50px;
}

.bag-input-group-container{
  padding-left: 20%;

}



.highlighted-text{
  font-size: x-large;
  font-weight: bold;
}

.message-container{
  /*position: fixed;
  top: 120px;*/
  height:500px;
  background-color: red;
  color:white;
  font-weight: bolder;
}

.test{
  height: 600px;
  background-color: red;
}

.toast{
  height: 300px;
  background-color: aqua;

}

.margin-bottom{
  margin-bottom: 30px;
}

.margin-bottom-20px{
  margin-bottom: 20px;
}

.margin-top{
  margin-top: 30px;
}

.margin-top-20px{
  margin-top: 20px;
}

.no-margin-right{
  margin-right: 0;
}

.price{
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .products-view{
    margin: 0 3rem;
  }
  .product-container{
    padding: 0 15px 50px 15px;
    margin-bottom: 0;
  }

  .product-details-img img{
    max-height: 40rem;
  }
  .card-outline {
    margin: initial;
  }

  .hero-image{
    justify-content: start;
  }

}

@media (min-width: 992px) {
  .products-view{
    margin: 0 5rem;
  }
}

@media (min-width: 1300px) {
    .container-max-width {
      max-width: 80%;
    }
  }


