<div class="row w-100 footer mx-0 pb-5 mt-5 d-none d-lg-flex">
    <div class="d-inline-flex">
        <div class="col-md-3">
            <div class="logo col-12">
                <!--Logo-->
                <a class="navbar-brand col-3 white-text" href="{% url 'home' %}">
                     <span><img class="footer-logo" src="{{ MEDIA_URL }}logo_nature_heals_small.jpg" alt="nature heals logo"></span>
                </a>
                <p class="pt-3 ps-4 smaller-text no-margin-small-print">©copyright <span id="copyright-year-current"> </span></p>
                <p class="ps-4 smaller-text no-margin-small-print"><span></span>Developed by Veronika Nemergutova
                    <a href="https://github.com/vero-nika-2828/" class="text-decoration-none" target="_blank" rel="noopener" aria-label="Veronika Nemergutova's github profile">
                        <i class="fa-brands fa-github white"></i>
                    </a>  
                    <a href="https://www.linkedin.com/in/veronika-nemergutova-57232b264/" class="text-decoration-none" target="_blank" rel="noopener" aria-label="Veronika Nemergutova's github profile">
                        <i class="fa-brands fa-linkedin white"></i>
                    </a>  
                </p>
                <p class="ps-4 smaller-text no-margin-small-print">Full Stack E-commerce project (Django)</p>
                <p class="ps-4 smaller-text">For Educational Purposes Only</p>
       
             
            </div>

        </div>
    
        <div class="col-md-3">
            <div class="row footer-small-text pt-3 mb-2">
                Product categories
            </div>

            <div class="row footer-smaller-text-links">
                <ul class="footer-product-links">
                    <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=imunity_boosters" aria-label="Filter for immunity boosters" >Immunity Boosters</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=anti-inflammatory" aria-label="Filter for anti-inflammatory">Anti-inflammatory</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=inner_comfort_enhancers" aria-label="Filter for inner comfort enhancers">Inner Comfort Enhancers</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=essential_oils" aria-label="Filter for essential oils">Essential Oils</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=oily_skin" aria-label="Filter for oily skin">Oily Skin</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=dry_skin" aria-label="Filter for dry skin">Dry Skin</a></li>

                </ul>
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-6">
                <div class="row">
                    <div class="row ps-3 pt-3 mb-2 footer-small-text">
                        Contact:
                    </div>

                    <!--Social media-->
                    <div class="row">
                        <div class="d-inline-flex">
                            <div class="row d-inline-flex">
                                <div class="col-1">
                                    <a href="https://www.facebook.com/" class="social-links" target="_blank" rel="noopener" aria-label="Facebook">
                                        <i class="fab fa-facebook-square white" aria-hidden="true"></i>
                                    </a>
                                </div>
            
                                <div class="col-1">
                                    <a href="https://www.instagram.com/" class="social-links" target="_blank" rel="noopener" aria-label="Instagram page">
                                        <i class="fa-brands fa-instagram white"></i>
                                    </a>
                                </div>

                                <div class="col-1">
                                    <a href="https://twitter.com/" class="social-links" target="_blank" rel="noopener" aria-label="Instagram page">
                                        <i class="fa-brands fa-square-twitter white"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    
                    </div>
                    
                    <!--Email-->
                    <div class="row">
                        <div class="contact col-12">
                            <div class="col-8 px-0 mr-lg-0 ms-1">
                                <p class="footer-smaller-text py-0 my-0 d-inline-flex me-2"><i class="fa-solid fa-envelope me-2"></i> <small>natureheals@domain.com</small></p>
                            </div>
                        </div>
                    </div>
                    
                    <!--Phone number-->
                    <div class="row">
                        <div class="contact col-12">
                            <div class="col-12 px-0 mr-lg-0 ms-1">
                                <p class="footer-smaller-text py-0 my-0 d-inline-flex me-2"><i class="fa-solid fa-phone me-2"></i> <small>+44 123 589 453</small></p>
                            </div>
                        </div>
                </div>

                </div>

                <div class="row">
                    <div class="row pt-3">
                        <p class="footer-small-text mb-2">Address:</p>
                    </div>
            
                    <div class="row mt-0">
                        <p class="footer-smaller-text py-0 my-0"><small>47 Barbaccan Walk,</small></p>
                        <p class="footer-smaller-text py-0 my-0"><small>RG120 27</small></p>
                        <p class="footer-smaller-text py-0 my-0"><small>Bracknell</small></p>
                        <p class="footer-smaller-text py-0 my-0"><small>UK</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="opening_hours col">
                <div class="row">
                    <p class="pt-3 mb-1 font-weight-bold footer-small-text mb-2">Opening Hours</p>
                    <p class="footer-smaller-text py-0 my-0"><small>Monday - Friday: 09:00 - 17:30</small></p>
                    <p class="footer-smaller-text py-0 my-0"><small>Saturday: 10:00 - 16:00</small></p>
                    <p class="footer-smaller-text py-0 my-0"><small>Sunday: Closed</small></p>
                </div>
            </div>
         </div>
        </div>
</div>


{% block postloadjs %}
<script>
    // Updates copyright year in the footer
    const currentYear = document.querySelector("#copyright-year-current");
    currentYear.innerText = new Date().getFullYear();
</script>
{% endblock %}