      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mx-auto ">
          <!--Main nav menu-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All products
            </a>
            <!--Sort option-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products'%}?sort=price&direction=asc">By Price</a></li>
              <li><a class="dropdown-item" href="{% url 'products'%}?sort=name&direction=asc">By Name</a></li>
              <li><a class="dropdown-item" href="{% url 'products'%}?sort=size&direction=asc">By Size</a></li>
              <li><a class="dropdown-item" href="{% url 'products'%}?sort=category&direction=asc">By Category</a></li>
              <li><a class="dropdown-item" href="{% url 'products'%}">All Products</a></li>
            </ul>
          </li>

          <!--Subcategory Dropdown 1-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Herbal Remedies
            </a>
            <!--Subcategory  Dropdown 1 Options-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=imunity_boosters">Immunity Boosters</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=anti-inflammatory">Anti-inflammatory</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=inner_comfort_enhancers">Inner Comfort Enhancers</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=memory_concentration_boosters">Memory &amp; Concentration Boosters</a></li>
            </ul>
          </li>

          <!--Subcategory Dropdown 2-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Aromatherapy
            </a>
            <!--Subcategory 2 Options-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=essential_oils">Essential Oils</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=candles">Candles</a></li>
            </ul>
          </li>

           <!--Subcategory Dropdown 3-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Skin Care
            </a>
            <!--Subcategory Dropdown 3 Options-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=oily_skin">Oily Skin</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=dry_skin">Dry Skin</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=mixed_skin">Mixed Skin</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=sensitive_skin">Sensitive Skin</a></li>
            </ul>
          </li>

        </ul>
      </div>



  