      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mx-auto ">
          <!--Option 1-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All products
            </a>
            <!--Option 1 Sub Options-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">By Price</a></li>
              <li><a class="dropdown-item" href="#">By Size</a></li>
              <li><a class="dropdown-item" href="#">By Category</a></li>
              <li><a class="dropdown-item" href="#">All Products</a></li>
            </ul>
          </li>

          <!--Option 2-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Herbal Remedies
            </a>
            <!--Option 2 Sub Options-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=imunity_boosters">Immunity Boosters</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=anti-infammatory">Anti-inflammatory</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=inner_comfort_enhancers">Inner Comfort Enhancers</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=memory&ampconcentration_boosters">Memory &amp; Concentration Boosters</a></li>
            </ul>
          </li>

          <!--Option 3-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Aromatherapy
            </a>
            <!--Option 3 Sub Options-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=essential_oils">Essential Oils</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=candles">Candles</a></li>
            </ul>
          </li>

           <!--Option 4-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Skin Care
            </a>
            <!--Option 4 Sub Options-->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=oily_skin">Oily Skin</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=dry_skin">Dry Skin</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=mixed_skin">Mixed Skin</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?subcategory=sensitive_skin">Sensitive Skin</a></li>
            </ul>
          </li>

        </ul>
      </div>



  