<!--Logo for Mobile view-->
<div id="brand-mobile" class="d-flex d-lg-none">
  <a class="navbar-brand col-3 white-text" href="{% url 'home' %}">
    <span><img class="logo-image-small" src="/media/logo_nature_heals_small.jpg" alt="nature heals logo"></span>

  </a>

</div>

<!--Navbar for Mobile view-->
<ul class="margin-right mobile-navbar">
  <li class="list-inline-item">
    <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <div class="text-center">
        <div><i class="fas fa-search fa-lg" aria-hidden="true"></i></div>
      </div>
    </a>
    
    <!--Search bar for Mobile view-->
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
      <form class="form" method="GET" action="{% url 'products' %}">
        <div class="input-group w-100">
          <input class="form-control" type="text" name="search" placeholder="Search products" aria-label="search">
          <button class="btn search-btn-mobile" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </form>
    </div>
  </li>

        <!--Account for Mobile view-->
        <li class="list-inline-item dropdown text-center" >
          <a class="nav-link btn no-border-radius d-block d-lg-none" href="#"  data-bs-toggle="dropdown" aria-expanded="false">
          <div><i class="fa-solid fa-user"></i></div>
          </a>

        
          <ul class="dropdown-menu margin-right">
              {% if reques.user.is_authenticated %}
                {% if request.user.is_superuser %}
                  <li class="list-inline-item text-center">
                    <a class="dropdown-item list-inline-item" href="{% url 'add_product' %}">Product Management </a>
                  </li>
                {% endif %}
                <li class="list-inline-item text-center">
                  <a class="dropdown-item list-inline-item" href="{% url 'profile' %}">Profile</a>
                  <a class="dropdown-item list-inline-item" href="{% url 'account_logout' %}">Logout</a>
                </li>
              {% else %}              
                <li class="list-inline-item text-center">
                  <a class="dropdown-item list-inline-item" href="{% url 'account_login' %}">Login </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'account_signup' %}">Register </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                {% endif %}
          </ul>
        </li>



      <!--Shopping bag for Mobile view-->
      <li class="list-inline-item text-center">                 
        <a class="nav-link d-block d-lg-none" href="{% url 'bag' %}"> 
          <div><i class="fa-sharp fa-solid fa-bag-shopping"></i></i></div>
        </a>
      </li>
</ul>



