{% extends "base.html" %}
{% load static %}

{% block content %}

        <div class="row margin-bottom">
            <div class="col text-center margin-bottom">
                <div>
                    <div class=" row">
                        <div class="col d-flex justify-content-center checkout-summary-box">         
                            <div class="col">
                                <h4 class=”header-margins ”>
                                    Oh no!
                                    <br>
                                    Something went wrong!
                                </h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}