{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row">
            <div class="col">
                <h2 class="header-margins text-center">Contact us</h2>
            </div>
        </div>

        <div class="row">
            <!--Contact Form-->
            <div class="col-10 offset-1 col-lg-6 offset-lg- profile-margin mb-3"> 
                <p class="px-3">
                    If you would like to know more about Nature Heals or our products please write you message in the box bellow and we will get back to you.
                </p>
            </div>
            
            <div class="col-10 offset-1 col-lg-6 offset-lg-3 checkout-summary-box profile-margin">           
                <form class="mt-3" action="{% url 'contact' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                    <button class="btn btn-black continue-btn mt-3">Send message</button>
                </form>
            </div>
        </div>
        {{ profile }}
    </div>
    
    <div class="float-end me-2 mb-3 back-to-top">
        <a class="btn-top">
            <i class="btn-top-icon fa-solid fa-circle-up"></i>
        </a>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.btn-top').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}