{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid container-max-width h-100 pink-300">
            <!--Add product form-->
            <div class="col-sm-6 col-md-4 col-lg-2">
                 <div class="all-products-card card card-outline h-100 justify-content-center ">
                    <form action="{% url 'add_product'%}" method="POST" id="add_review">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name != image %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{field}}
                            {% endif %}
                        {% endfor %}
                        <button class="form-control btn btn-outline-success" type="submit">Add Product</button>
                   </form>
                    
    </div>

{% endblock %}
