{% extends "base.html" %}
{% load static %}



{% block content %}

    <div class="container-fluid container-max-width h-100 pink-300">
        <div class="row">
            <div class="d-none d-lg-block col-lg-2 ml-5 px-0 test">
                <nav>
                    {% for category in category_list %}
                    <a href="{% url 'products' %}?category={{ category.name }}" class="nav-link side-categories-items active">{{ category.friendly_name }}</a>
                    {% endfor %}
                </nav>
            </div>
            <!--Cards with product information-->
            {% for product in products %}
            <div class="col-sm-6 col-md-4 col-lg-2">
                 <div class="all-products-card card card-outline h-100 justify-content-center ">
                    {% if product.image %}
                        <div>
          
                            {% if product.id not in wishlist_product_list or not request.user.is_authenticated %}
                                <a href="{% url 'add_to_wishlist' product.id %}" class="float-end item-name"><i class="fa-regular fa-heart" alt="add"></i></i></a>
                            {% else %}
                                
                                <a href="{% url 'remove_from_wishlist' product.id %}" class="float-end"><i class="fa-solid fa-heart" alt="remove"></i></a>
                   
                            {% endif %}

                            <a href="{% url 'product_details' product.id %}" class="float-end"><img src="/media/{{product.image}}" class="card-img-top" alt="{{product.friendly_name}}"></a>    
                        </div>  
                    {% else %}
                        <img src="/media/noimage.JPG" class="card-img-top" alt="{{product.friendly_name}}">
                    {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-title">{{product.friendly_name|title}} <br>{{product.size}}</h5>
                            <p class="card-text">Star rating placeholder</p>
                            <!--<p class="card-text">{{product.healing_properties.capitalize}}</p>-->
                            <p>£{{product.price}}</p>
                            <a href="{% url 'product_details' product.id %}" class="btn btn-primary w-100 col-6">View product</a>
                        </div>
                </div>           
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
