{% extends "base.html" %}
{% load static %}



{% block content %}

    <div class="container-fluid container-max-width h-100 pink-300">
        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                 <div class="card card-outline">
                        <img src="/media/{{product.image}}" class="card-img-top" alt="{{product.image}}">
                        <div class="card-body">
                        <h5 class="card-title">{{product.friendly_name}} <br>{{product.size}}</h5>
                        <p class="card-text">{Some quick example text to build on the card title and make up the bulk of the card's content.}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>           
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
