{% extends "base.html" %}
{% load static %}



{% block content %}

    <div class="container h-100 pink-300">
        <div class="row">
            <div class="col">
                <h1>Let us heal you </h1>
                {% for product in products %}
                 <p>{{product.friendly_name}}</p>
                 <P>{{product.image}}</P>
                 <!--<img class="h-1" src="{{ product.image.url }}">-->
                {% endfor %}

                <div>{{ products }}</div>
              
            </div>
        </div>

    </div>

{% endblock %}
