{% extends "base.html" %}
{% load static %}



{% block content %}

    <div class="container">
        <!--Project details view-->
        <div class="row justify-content-center">
           <!--Product image-->
           <div class="col-sm-12 col-md-6 ">
                {% if product.image %}
                    <img src="/media/{{product.image}}"  alt="{{product.friendly_name}}">
                {% else %}
                    <img src="/media/noimage.JPG" class="card-img-top" alt="{{product.friendly_name}}">
                {% endif %}
           </div>

            <!--Product details-->
           <div class="col-sm-12 col-md-6 px-4">
               <h2>{{product.friendly_name|title}} {{product.size}}</h2>  
               <p>Star rating placeholder<span>review count:(xx reviews) | write a review</span></p>
               <hr>
               <p>{{product.description}}</p>
               <p><span>Price: </span>£{{product.price}}</p> 
               
                <div class="container quantity-conatainer ps-0 ">
                    <label for="quantity">Quantity</label>
                    <div class="input-group mb-3 w-50">
                        <input type="number" id="quantity" name="quantity" value="1" min="1" max="99" class="form-control col-md-2"  aria-label="quantity" aria-describedby="basic-addon2">
                        <span id="quantity"> <button type="submit" class="btn btn-primary">Submit</button></span>
                      </div>
               </div>

               <div class="row">
                   <a href="{% url 'product_details' product.id %}" class="btn btn-primary col-sm-12 col-md-6">Go somewhere</a>
                   <a href="{% url 'product_details' product.id %}" class="btn btn-primary col-sm-12 col-md-6">Go somewhere</a>
               </div> 
    
                   
                    
           </div>
 
            </div>


    </div>







{% endblock %}
