{% extends "base.html" %}
{% load static %}



{% block content %}

    <div class="container">
        <!--Project details view-->
        <div class="row justify-content-center">
           <!--Product image-->
           <div class="col-sm-12 col-md-6 ">
               <img src="/media/{{product.image}}"  alt="{{product.friendly_name}}">
           </div>

            <!--Product details-->
           <div class="col-sm-12 col-md-6 px-4">
               <h2>{{product.friendly_name|title}} {{product.size}}</h2>  
               <p>Star rating placeholder<span>review count:(xx reviews) | write a review</span></p>
               <hr>
               <p>{{product.description}}</p>
               <p><span>Price: </span>£{{product.price}}</p> 
               <div>
                   
               </div>
               <div class="row">
                   <a href="{% url 'product_details' product.id %}" class="btn btn-primary col-sm-12 col-md-6">Go somewhere</a>
                   <a href="{% url 'product_details' product.id %}" class="btn btn-primary col-sm-12 col-md-6">Go somewhere</a>
               </div> 
    
                   
                    
           </div>
 
            </div>


    </div>







{% endblock %}
